<!DOCTYPE html>
<html lang="en">
<head>
    <title>Valorant-API | Homepage</title>
    <link rel="Icon" href="/media/assets/ValorantLogo.jpg">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .overflow-scroll::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body class="bg-[#ECE7E1]">

    <!-- Nav Bar -->
    <nav class="border-b-2 border-[#ff4457] bg-transparent">

        <div class="flex">
            <div class="flex w-2/3">
                <li class="flex items-center pl-10 p-5 hover:cursor-pointer"><img class="flex h-7" src="/media/assets/Valorant Logo.jpg" alt="Valorant Logo"></li>
                <li class="flex text-xl font-bold p-5 hover:text-[#ff4457] hover:cursor-pointer">Home</li>
                <li class="flex text-xl font-bold p-5 hover:text-[#ff4457] hover:cursor-pointer">Agents</li>
            </div>

            <div class="flex w-1/3 place-content-end">
                <li class="flex text-xl font-bold p-5 pr-3 hover:cursor-pointer hover:text-[#ff4457]">Logout</li>
                <li class="flex items-center py-5 pr-10 hover: cursor-pointer"><img class="h-6" src="/media/assets/logout.png" alt=""></li>
            </div>
        </div>

    </nav>

    <!-- Agents List -->

    <div class="flex w-full p-1 overflow-scroll">
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="BRIMSTONE" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="PHOENIX" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="SAGE" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="SOVA" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="VIPER" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="CYPHER" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="REYNA" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="KILLJOY" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="BREACH" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="OMEN" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="JETT" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="RAZE" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="SKYE" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="YORU" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="ASTRA" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="KAY/O" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="CHAMBER" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="NEON" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="FADE" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="HARBOUR" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="GEKKO" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
        <form method="post" action="/">{% csrf_token %}<input type="submit" name="btn_name" value="DEADLOCK" class="flex text-lg p-2 m-2 font-bold rounded-lg px-5 bg-[#ABABA8] "></input></form>
    </div>

 
    <div class="flex flex-row w-full h-4/5 bg-[#0F1923] bg-no-repeat bg-center bg-contain"  style="background-image: url({{bg}});">
        <img class="flex h-5/6 absolute inset-x-96 mt-10 transition duration-1000 ease-out hover:scale-110" src="{{fullPortraitV2}}" alt="">
        
        <div class="flex basis-1/3 justify-center items-center py-64">
            <p class="text-[#ff4457] text-8xl font-bold">
                {{displayName}}
            </p>
        </div>

        <div class="flex basis-1/3"></div>

        <div class="flex basis-1/3">
            <div class="flex flex-col text-[#ABABA8] pl-10 justify-center items-start">
                <span class="text-md font-bold">// Role</span>
                <span class="text-4xl font-extrabold mt-2">{{role}}</span>
                <span class="text-md font-bold mt-6">// BioGraphy</span>
                <span class="text-md font-semibold w-2/3 mt-2">{{desc}}</span>
                <div class="border border-[#ABABA8] w-2/3 mt-24"></div>
            </div>
        </div>
    </div>


    <div class="mt-72">
        <!-- This div will contain the abilities section -->
    </div>
    
</body>
</html>