<!DOCTYPE html>
<html lang="en">
<head>
    <title>Valorant-API | Homepage</title>
    <link rel="Icon" href="/media/assets/Valorant Logo.jpg">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#ECE7E1]">

    <!-- Nav Bar -->
    <nav class="border-b-2 border-[#ff4457] bg-transparent">

        <div class="flex">
            <div class="flex w-2/3">
                <li class="flex items-center pl-10 p-5"><img class="flex h-7" src="/media/assets/Valorant Logo.jpg" alt="Valorant Logo"></li>
                <li class="flex text-xl font-bold p-5">Home</li>
                <li class="flex text-xl font-bold p-5">Agents</li>
            </div>

            <div class="flex w-1/3 place-content-end">
                <li class="flex text-xl font-bold p-5 pr-3">Logout</li>
                <li class="flex items-center py-5 pr-10"><img class="h-6" src="/media/assets/logout.png" alt=""></li>
            </div>
        </div>

    </nav>
    
</body>
</html>